.connect {
  display: flex;
  align-items: center;
  padding: 10rem;
  height: 100vh;
}

.fieldSection {
  display: flex;
  flex-direction: column;
  width: 70%;
  min-width: 35rem;
  max-width: 50rem;
}

.fieldSection input,
.fieldSection textarea {
  font-size: 0.95rem;
  letter-spacing: 0.05rem;
  padding: 0.3rem 0.5rem;
  border-radius: 0.5rem;
  background-color: rgba(255, 255, 255, 0.75);
  outline: none;
  cursor: context-menu;
  transition: all 0.3s ease-in-out;
}

.fieldSection input::placeholder,
.fieldSection textarea::placeholder {
  color: rgba(0, 0, 0, 0.8);
  font-weight: 500;
}

.fieldSection input:not(:placeholder-shown),
.fieldSection textarea:not(:placeholder-shown) {
  background-color: white;
}

.fieldSection input {
  height: 2rem;
}

.fieldSection input:focus,
.fieldSection input:hover,
.fieldSection textarea:focus,
.fieldSection textarea:hover {
  background-color: white;
}

.fieldSection label {
  font-weight: 600;
}

.optionalField,
.requiredField {
  display: inline-block;
  font-size: 0.7rem;
}

.optionalField {
  color: rgba(255, 255, 255, 0.75);
}

.requiredField {
  color: rgba(0, 204, 255, 0.75);
}

.fieldSection button {
  font-size: 1.5rem;
  font-weight: 600;
  padding: 0.3rem 1rem;
  width: 8rem;
  border-radius: 0.5rem;
  cursor: pointer;
  background-color: rgba(0, 204, 255, 0.7);
  transition: all 0.3s;
}

.fieldSection button:hover {
  background-color: rgb(0, 204, 255);
}

.mailLottie {
  display: flex;
  align-items: center;
}

.fieldSection h2 {
  display: inline;
  font-size: 2.5rem;
  font-weight: 600;
  color: rgb(0, 204, 255);
}

.allFields {
  display: grid;
  grid-template: repeat(2, 1fr) 3.5fr 1fr / repeat(2, 1fr);
  gap: 1rem;
}

.nameField {
  max-width: 35rem;
  grid-column: 1 / -1;
}

.noteField {
  grid-column: 1 / -1;
}

.nameField:hover .optionalField,
.motiveField:hover .requiredField,
.emailField:hover .requiredField,
.noteField:hover .requiredField {
  animation: bounceField 1s infinite;
}

.animateFieldOption {
  animation: bounceField 1s infinite;
}

@keyframes bounceField {
  0% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
  50% {
    transform: translateY(-8px);
    animation-timing-function: ease-in;
  }
  100% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
}

.allFields > div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
