.about {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  top: 15rem;
  gap: 1rem;
  padding-left: 5rem;
  height: 100vh;
}

@keyframes slideUp {
  to {
    opacity: 1;
    top: 13rem;
  }
}

.header {
  font-size: 3.5rem;
  font-weight: 600;
  cursor: context-menu;
}

.intro {
  font-size: 2rem;
  cursor: context-menu;
}

.expertise {
  position: relative;
  top: 0;
  color: rgb(0, 204, 255);
  opacity: 1;
}

.slideUp {
  animation: slideUpNow 0.5s ease forwards;
}

@keyframes slideUpNow {
  to {
    opacity: 0;
    top: -0.5rem;
  }
}

.cursor {
  position: relative;
}

.cursor.hideCursor > svg {
  animation: hide 0.5s 0.2s ease forwards;
}

@keyframes hide {
  to {
    opacity: 0;
    transform: scale(0);
  }
}

.cursor > svg {
  position: absolute;
  width: 2rem;
  height: 2rem;
  fill: rgb(0, 204, 255);
}

.info {
  font-size: 1.2rem;
  width: 30rem;
  height: 7rem;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 1rem;
  padding: 0.5rem;
}

.resume {
  display: flex;
  align-items: center;
  position: relative;
  gap: 0.5rem;
  color: white;
  border: 0.2rem solid rgb(0, 204, 255);
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  margin-top: 2rem;
  font-size: 1.5rem;
  background-color: rgb(0, 6, 26);
  cursor: pointer;
}

.resume::before {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  content: "Download";
  font-size: 1rem;
  font-weight: 600;
  color: rgba(0, 6, 26, 0);
  background-color: rgb(0, 204, 255);
  z-index: 2;
  transition: width 0.5s ease, color 0.5s ease;
}

.resume:hover::before {
  color: rgba(0, 6, 26, 1);
  width: 100%;
}

.resume svg {
  width: 1.3rem;
  height: 1.3rem;
  fill: white;
  animation: scale 0.5s ease-in-out alternate infinite;
}

.infoBox {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.progress {
  position: relative;
  background-color: rgba(255, 255, 255, 0.2);
  width: 30rem;
  height: 0.4rem;
  border-radius: 1rem;
}

.progress.fill::before {
  position: absolute;
  top: 0;
  content: "";
  width: 0;
  height: 100%;
  border-radius: 1rem;
  background-color: rgb(0, 204, 255);
  animation: load 5s 4s backwards;
}

@keyframes load {
  to {
    width: 100%;
  }
}

@keyframes scale {
  to {
    transform: scale(1.15);
  }
}
