.nav {
  align-self: center;
  display: flex;
  justify-content: center;
  position: fixed;
  top: -2rem;
  border-radius: 0.5rem;
  border: 0.1rem inset rgba(255, 255, 255, 0.6);
  gap: 3rem;
  padding: 0.5rem 1rem;
  box-shadow: 0rem 0.2rem 0.5rem rgba(255, 255, 255, 0.5);
  background-color: rgb(0, 6, 26);
  opacity: 0;
  animation: dropDown 0.5s ease-in-out forwards;
  z-index: 5;
}

.menu {
  display: none;
}

@keyframes dropDown {
  to {
    opacity: 1;
    top: 1rem;
  }
}

.nav button {
  font-size: 1.2rem;
  color: white;
  background-color: rgb(0, 6, 26);
  border: none;
  letter-spacing: 0.1rem;
  cursor: pointer;
}

.home {
  position: relative;
  transition: opacity 0.2s ease-in-out;
}

.home > svg {
  fill: rgb(0, 204, 255);
  width: 2rem;
  height: 2rem;
}

.home::after {
  content: "";
  position: absolute;
  left: 40%;
  top: 37%;
  width: 0.4rem;
  height: 0.4rem;
  border-radius: 1rem;
  background-color: rgb(0, 204, 255);
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.home:hover::after {
  opacity: 1;
}

.home:hover {
  opacity: 0.8;
}

.others {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.others > button {
  transition: color 0.2s ease-in-out;
  position: relative;
  font-weight: 600;
}

.others > button::after {
  display: block;
  position: relative;
  content: "";
  background-color: rgb(0, 204, 255);
  height: 0.1rem;
  bottom: -0.5rem;
  left: 50%;
  width: 0;
  transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
}

.others > button:hover::after {
  left: 0;
  width: 100%;
}

.others > button:hover {
  color: rgb(0, 204, 255);
}

.themeBox {
  display: none;
}

.theme {
  display: flex;
  align-items: center;
  gap: 0.1rem;
}

.bar {
  display: flex;
  justify-content: center;
  position: relative;
  height: 2.2rem;
  width: 1.25rem;
  border-radius: 1rem;
  padding: 0.2rem 0;
  background-color: rgb(0, 204, 255);
  cursor: pointer;
}

.bar > span {
  display: block;
  position: absolute;
  bottom: 0.2rem;
  height: 0.85rem;
  width: 0.85rem;
  border-radius: 1rem;
  background-color: rgb(0, 6, 26);
}

.switch {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  height: 100%;
}

.switch > button {
  font-size: 0.7rem;
}

.switch > button:first-child {
  opacity: 0.4;
}

@media (max-width: 700px) {
  .nav {
    width: 100%;
    justify-content: space-between;
    border: none;
    box-shadow: none;
    top: 0;
    background: none;
  }

  .others {
    display: none;
  }

  .menu {
    display: flex;
  }

  .menuList {
    display: none;
  }
}
