.work {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  gap: 10rem;
  padding: 2rem 12rem;
}

.workSlide {
  display: flex;
  align-items: center;
  gap: 3vmin;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(0%, -50%);
  user-select: none;
}

.workSlide img {
  width: 45vmin;
  height: 60vmin;
  object-fit: cover;
  object-position: 100% center;
  border-radius: 1rem;
}

.workSlide > section {
  position: relative;
}

.imgLinkBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  position: absolute;
  bottom: 0;
  /* height: 20%; */
  height: 0;
  opacity: 0;
  width: 100%;
  background-color: rgba(0, 0, 0);
  /* opacity: 0.3; */
  transition: all 0.3s ease-in-out;
}

.imgLinks {
  display: flex;
  gap: 2rem;
  transition: all 0.2s ease-in-out;
}

.imgTechnologies {
  display: flex;
  gap: 0.5rem;
}

.imgTechnologies span {
  display: flex;
  font-size: 1rem;
}

.imgLinkBox.revealLinkBox {
  height: 20%;
  opacity: 0.35;
}

.imgLinkBox:hover {
  opacity: 0.75;
  height: 25%;
}

.imgLinkBox svg {
  width: 1.5rem;
  fill: white;
  transition: all 0.2s ease-in-out;
}

.livePreview:hover svg,
.sourceCode:hover svg {
  fill: rgb(0, 204, 255);
  transform: scale(1.1);
}

.experience {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.experience > p {
  font-size: 2rem;
}

.experience > h2 {
  font-size: 3rem;
  font-weight: 600;
  background: linear-gradient(
    90deg,
    rgb(0, 204, 255) 0%,
    rgb(0, 204, 255) 40%,
    white 50%,
    rgb(0, 204, 255) 60%,
    rgb(0, 204, 255) 100%
  );
  background-clip: text;
  background-size: 200% 200%;
  color: transparent;
  text-align: center;
  animation: gradient-animation 3s linear infinite reverse;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 200% 100%;
  }
}

.experience > h2:hover {
  color: rgb(0, 204, 255);
  text-shadow: 2px 2px 5px rgb(90, 90, 90);
  animation-play-state: paused;
}

.wheelIcon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  mix-blend-mode: difference;
  z-index: 1;
  pointer-events: none;
}

.wheelIcon svg {
  fill: white;
  width: 2.5rem;
}

.livePreview::after,
.sourceCode::after {
  font-size: 0.9rem;
  font-weight: 600;
  color: rgb(0, 204, 255);
  position: absolute;
  left: 50%;
  top: 2rem;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all 0.2s ease-in-out;
}

.livePreview::after {
  content: "Live Preview";
}

.sourceCode::after {
  content: "Source Code";
}

.livePreview:hover::after,
.sourceCode:hover::after {
  opacity: 1;
  top: 1rem;
}

.slider {
  display: flex;
  align-items: center;
  gap: 1rem;
  position: absolute;
  bottom: 5rem;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.5rem;
  font-weight: 600;
  color: rgb(255, 255, 255, 0.3);
  cursor: context-menu;
}

.wheel {
  width: 2rem;
  fill: rgb(255, 255, 255, 0.5);
  transition: transform 1s cubic-bezier(0.17, 0.67, 0.64, 2.03);
}

.workName {
  display: flex;
  align-items: center;
  position: absolute;
  padding: 0.5rem;
  font-size: 1rem;
  font-weight: 600;
  background-color: rgba(0, 0, 0, 0.75);
  border-bottom-right-radius: 1rem;
  height: 0;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.workName.revealName {
  height: 7%;
  opacity: 1;
}
